services:
  help-exchange-server:
    restart: always
    container_name: help-exchange
    build:
        context: .
        dockerfile: Dockerfile
    command: bundle exec rails s -p 5005 -e production
    ports:
      - '5005:5005'
    environment:
      - RAILS_ENV=production
    volumes:
      - /var/www/help-exchange-server/data:/data
    networks:
      - mariadb_mariadb_network
      - redis_redis_network

networks:
  mariadb_mariadb_network:
    external: true
    driver: bridge
  redis_redis_network:
    external: true
    driver: bridge