<p>Welcome <%= @email %>,</p>

<p>You can confirm your account through this <%= link_to 'link', "#{ENV['HELPEXCHANGE_FRONTEND_ROOT_URL']}/users/login/#{@token}" %>.</p>

<p>We are excited to have you on board!</p>

<p>Kind regards,
<br/>The FishForHelp team</p>
