<p>Hello <%= @resource.first_name.blank? ? @resource.email : @resource.first_name %>,</p>

<p>Someone has requested to change your password. You can do this through this <%= link_to 'link', "#{ENV['HELPEXCHANGE_FRONTEND_ROOT_URL']}/users/troubleshoot/reset/#{@token}" %>.
<br/>Your password won't change until you access the link above and create a new one.</p>

<p>If you didn't request this, please ignore this email.

<p>Kind regards,
<br/>The FishForHelp team</p>